.user_card {
   width: 48%;
   box-shadow: 0 0 5px 0 cadetblue;
   box-sizing: border-box;
   padding: 10px;
}
.user_name {
   display: flex;
   justify-content: center;
   column-gap: 20px;
}
.user_contact {
   display: flex;
   justify-content: center;
   column-gap: 15px;
}
.user_address {
   display: flex;
   justify-content: center;
}