.star-rating button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.on {
    color: #460072;
}
.off {
    color: #9b9b9b;
}
.star {
    font-size: 20px;
}

