.page, .current_page{
    border: 1px solid grey;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
}
.current_page {
    border: 2px solid grey;
    font-weight: 500;
}